@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.btn-light {
  color: #000;
}

.btn-secondary:hover,
.btn-secondary:focus {
  text-shadow: none;
}

a {
  color: #fff;
  /* text-decoration: none; */
  /* font-weight: bold; */
}

a:hover {
  color: #000;
}

img {
  padding: 1rem;
}

body {
  /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); */
  /* font-family: "Abril Fatface", sans-serif; */
  background-color: #5fa8d3;
  color: #fff;
}
